# Configurações do Celery/Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Configurações do Modelo ML
MODEL_PATH=../ml/artifacts/modelo_definitivo.joblib
PREPROCESSOR_PATH=../ml/artifacts/preprocessador.joblib
